<div class="page-secondary">
  <div class="page-region">
    <div class="page-region-content">
      <ul class="listview">
        <li class="bg-color-blue">
          <div class="data">
            <h2 class="fg-color-white"><i class="icon-thumbs-up"></i>Ember JS</h2>
          </div>
        </li>
        <li class="bg-color-blue">
          <div class="data">
            <h2 class="fg-color-white"><i class="icon-thumbs-up"></i>CoffeeScript</h2>
          </div>
        </li>
        <li class="bg-color-blue">
          <div class="data">
            <h2 class="fg-color-white"><i class="icon-thumbs-up"></i>Brunch</h2>
          </div>
        </li>
        <li class="bg-color-blue">
          <div class="data">
            <h2 class="fg-color-white"><i class="icon-thumbs-up"></i>SASS</h2>
          </div>
        </li>
        <li class="bg-color-blue">
          <div class="data">
            <h2 class="fg-color-white"><i class="icon-thumbs-up"></i>Metro UI CSS</h2>
          </div>
        </li>
        <li class="bg-color-blue">
          <div class="data">
            <h2 class="fg-color-white"><i class="icon-thumbs-up"></i>Rails Backend</h2>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>