<ul class="unstyled">
  <li>EmberJS <i class="icon-ok"></i></li>
  <li>CoffeeScript <i class="icon-ok"></i></li>
  <li>Brunch <i class="icon-ok"></i></li>
  <li>Twitter-Bootstrap <i class="icon-ok"></i></li>
  <li>Rails Backend <i class="icon-ok"></i></li>
</ul>